<template>
    <div class="container">
        <div v-if="products.length">
            <ul class="list-group w-100">
                <CartItem v-for="(product, index) in products" v-bind="product" :index="index"
                          :key="product.id + '-' + product.optionId"></CartItem>
            </ul>
            <form @submit.prevent="submitForm" class="mt-5 w-100">
                <div class="my-2">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" v-model="delivery" value="0" type="radio" name="delivery" id="delivery-1">
                        <label class="custom-control-label" for="delivery-1">Доставка</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" v-model="delivery" value="1" type="radio" name="delivery" id="delivery-2">
                        <label class="custom-control-label" for="delivery-2">Самовывоз (-10%)</label>
                    </div>
                </div>
                <div class="my-2">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" v-model="fields.payment" value="0" type="radio" name="payment" id="payment-1">
                        <label class="custom-control-label" for="payment-1">Наличными</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" v-model="fields.payment" value="1" type="radio" name="payment" id="payment-2">
                        <label class="custom-control-label" for="payment-2">Банковской картой</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" v-model="fields.name">
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" required class="form-control" id="phone" v-model="fields.phone">
                </div>
                <div class="form-group">
                    <label for="address">Адрес</label>
                    <input type="text" required class="form-control" id="address" v-model="fields.address">
                </div>
                <div class="form-group">
                    <label for="text">Сообщение</label>
                    <textarea rows="10" required class="form-control" id="text" v-model="fields.text"></textarea>
                </div>
                <div class="text-right py-4 p-2">
                    <strong class="h4">{{ computedTotal }} руб.</strong>
                </div>
                <button type="submit" :disabled="loading" class="btn btn-primary">{{ loading ? 'Загрузка...' : 'Сделать заказ' }}</button>
            </form>

        </div>
        <div v-else>
            <strong>Ваша корзина пуста!</strong>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters, mapState} from "vuex";
import CartItem from "../components/Cart/CartItem";

export default {
    name: "CartPage",
    components: {CartItem},
    computed: {
        ...mapState({
            checkoutStatus: state => state.cart.checkoutStatus
        }),
        ...mapGetters('cart', {
            products: 'cartProducts',
            total: 'cartTotalPrice'
        }),
    },
    data() {
        return {
            fields: {
                name: "",
                phone: "",
                address: "",
                text: "",
                payment: 0
            },
            loading: false,
            delivery: 0,
            computedTotal: 0
        }
    },
    methods: {
        submitForm() {
            this.loading = true;
            axios.post('/api/checkout', {
                ...this.fields,
                products: this.products,
                delivery: this.delivery,
                total: this.computedTotal,
                items: this.products
            }).then(() => {
                this.loading = false;
                this.checkout();
                this.$notify({
                    group: 'messages',
                    title: 'Коризна',
                    type: 'success',
                    text: 'Заказ успешно оформлен!'
                });

            })
            .catch(e => {
                this.loading = false;
                this.$notify({
                    group: 'messages',
                    title: 'Коризна',
                    type: 'error',
                    text: e.response.data.message
                });
            })
        },
        countDeliveryTotal(value) {
            if (value == 1) {
                this.computedTotal *= 0.9;
            } else {
                this.computedTotal = this.total;
            }
        },
        ...mapActions({
            checkout: 'cart/checkout'
        })
    },
    mounted() {
        this.computedTotal = this.total;
    },
    watch: {
        delivery(newValue) {
            this.countDeliveryTotal(newValue);
        },
        total(value) {
            this.computedTotal = value;
            this.countDeliveryTotal(this.delivery);
        }
    }
}
</script>

<style scoped>

</style>
