<template>
    <div class="container">
        <h1>Контакты</h1>
        <div class="row">
            <div class="col-lg-6">
                <iframe style="width: 100%"
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac0e62a7949ee9f94bbe6d7d645e2159fed0a653d4540b43525a0207809dd0f48&amp;source=constructor"
                        height="400" frameborder="0"></iframe>
            </div>
            <div class="col-lg-6">
                <span class="d-block">Телефон: <a href="tel:+7999999999">+7999999999</a></span>
                <span class="d-block">Инстаграм: <a href="https://instagram.com">Instagram</a></span>
                <span class="d-block">Почта: <a href="mailto:example@mail.com">example@mail.com</a></span>
            </div>
        </div>
        <div class="row">
            <form @submit.prevent="submitForm" class="w-100">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" required class="form-control" id="name" v-model="fields.name">
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" required class="form-control" id="phone" v-model="fields.phone">
                </div>
                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="email" required class="form-control" id="email" v-model="fields.email">
                </div>
                <div class="form-group">
                    <label for="text">Сообщение</label>
                    <textarea rows="10" required class="form-control" id="text" v-model="fields.text"></textarea>
                </div>
                <button type="submit" :disabled="loading" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactPage",
    data() {
        return {
            fields: {
                name: "",
                phone: "",
                email: "",
                text: ""
            },
            errors: [],
            loading: false
        }
    },
    methods: {
        submitForm() {
            this.loading = true;
            axios.post('/api/feedback', this.fields)
                .then(() => {
                    this.loading = false;
                this.$router.push('/');
                    this.$notify({
                        group: 'messages',
                        title: 'Обратная связь',
                        type: 'success',
                        text: 'Ваше сообщение было отправлено!'
                    });
            })
            .catch((error) => {
                this.loading = false;
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
