<template>
    <div class="container">
        <Category v-for="category in categories" v-bind:key="category.id" :title="category.name" :products="category.products"></Category>
    </div>
</template>

<script>
import Category from "../components/Category";

export default {
    name: "Home",
    components: { Category },
    data() {
        return {
            categories: []
        }
    },
    async mounted() {
        const {data} = await axios.get('/api/products_with_categories');
        this.categories = data;
    }
}
</script>

<style scoped>

</style>
