<template>
    <div class="container">
        <div class="row row-cols-1">
            <PostCard v-for="post in posts" v-bind:key="post.id" v-bind="post"></PostCard>
        </div>
    </div>
</template>

<script>
import PostCard from "../components/PostCard";

export default {
    name: "NewsPage",
    components: {PostCard},
    data() {
        return {
            posts: []
        }
    },
    async mounted() {
        const {data} = await axios.get('/api/posts');
        this.posts = data;
    }
}
</script>

<style scoped>

</style>
