<template>
    <div>
        <img class="post-image" :src="image" :alt="title">
        <div class="container">
            <h1 class="display-4">{{ title }}</h1>
            <p class="lead">{{ content }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "PostPage",
    data() {
        return {
            title: "",
            content: "",
            image: ""
        }
    },
    async mounted() {
        const { data } = await axios.get(`/api/posts/${this.$route.params.id}`);
        this.title = data.title;
        this.content = data.content;
        this.image = data.image;

    }
}
</script>

<style scoped lang="scss">
.post-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
</style>
