<template>
    <div>
        <Navbar></Navbar>
        <div class="py-5">
            <notifications group="messages" position="bottom right"></notifications>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import Navbar from "./Navbar";

export default {
    name: "App",
    components: {Navbar}
}
</script>

<style scoped>

</style>
