<template>
    <div v-if="products.length" class="row mb-5">
        <h1 class="mb-4">{{ title }}</h1>
        <div class="card-deck">
            <Product v-for="product in products" v-bind="product" v-bind:key="product.id"></Product>
        </div>
    </div>
</template>

<script>
import Product from "./Product";

export default {
    name: "Category",
    components: {Product},
    props: ['title', 'products']
}
</script>

<style scoped>

</style>
