<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">Nevod Test</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link active-class="active" exact :to="{ name: 'home' }" class="nav-link">Главная</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link active-class="active" :to="{ name: 'posts.index' }" class="nav-link">Новости</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link exact :to="{ name: 'about_us' }" class="nav-link">О нас</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link exact :to="{ name: 'contact'}" class="nav-link">Контакты</router-link>
                    </li>
                </ul>
            </div>
            <CartItem></CartItem>
        </div>
    </nav>
</template>

<script>
import CartItem from "./Cart/CartIcon";
export default {
    name: "Navbar",
    components: {CartItem}
}
</script>

<style scoped lang="scss">

</style>
