<template>
    <div class="col-lg-4 mb-4">
        <div class="card product-card shadow">
            <img :src="preview" class="card-img-top" :alt="title">
            <div class="card-body">
                <h4 class="card-title">{{ title }}</h4>
                <p>{{ excerpt }}</p>
            </div>
            <div class="text-right">
                <router-link :to="{ name: 'post.show', params: { id }}" class="btn btn-primary">Перейти</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "PostCard",
    props: ['preview', 'title', 'excerpt', 'id']
}
</script>

<style scoped lang="scss">
.card-img-top {
    border-radius: 10px 10px 0 0;
    object-fit: contain;
}

.card {
    padding-bottom: 0;
    border: none;
    border-radius: 10px;
}
.btn {
    display: block;
    padding: 5px 50px;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}
</style>
