<template>
    <div class="col-lg-4">
        <div class="card product-card shadow">
            <img :src="image" class="card-img-top" :alt="name">
            <div class="card-body">
                <h4 class="card-title">{{ name }}</h4>
                <span><strong>Б:</strong> {{ proteins }}</span>
                <span><strong>Ж:</strong> {{ fats }}</span>
                <span><strong>У:</strong> {{ carbohydrates }}</span>
                <div><strong>Вес:</strong> {{ weight }} г</div>
                <div v-if="options.length">
                    <div class="custom-control custom-radio custom-control-inline" v-for="(option, index) in options"
                         :key="option.id">
                        <input class="custom-control-input" :id="option.id" type="radio" :name="`modification-${id}`"
                               v-model="computedPrice" @change="changeSelectedOption(option.id)" :value="option.value" :checked="!index">
                        <label class="custom-control-label" :for="option.id">{{ option.option.name }}</label>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <a @click.prevent="addProductToCart(id, selectedOption)" class="btn btn-primary">{{ computedPrice }} руб.</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Product",
    props: ['id', 'name', 'image', 'proteins', 'carbohydrates', 'fats', 'price', 'weight', 'options'],
    data() {
        return {
            computedPrice: this.price,
            selectedOption: this.options.length ? this.options[0].id : null
        }
    },
    methods: {
        changeSelectedOption(option) {
            this.selectedOption = option;
        },
        addProductToCart(id, selectedOption) {
            this.$store.dispatch('cart/addProductToCart', {id, selectedOption});
            this.$notify({
                group: 'messages',
                title: 'Коризна',
                type: 'success',
                text: 'Товар добвален в корзину!'
            });
        }
    }
}
</script>

<style scoped lang="scss">
.card-img-top {
    max-height: 200px;
    object-fit: contain;
}

.btn {
    display: block;
    padding: 5px 50px;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}

.product-card {
    padding-bottom: 0;
    padding-top: 30px;
    border: none;
    border-radius: 15px;
}
</style>
