<template>
    <li class="list-group-item cart-item">
        {{ name }}
        {{ optionName }}
        <span class="d-inline-block ml-auto">
        {{ quantity }} x {{ price }} руб.
        <strong class="cart-item__total">{{ total }} руб.</strong>
        </span>
        <a class="cart-item__cross" href="#" @click.prevent="deleteItem({index})">&#10005;</a>
    </li>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "CartItem",
    props: ['index', 'name', 'quantity', 'price', 'optionName'],
    computed: {
        total: function () {
            return this.price * this.quantity;
        }
    },
    methods: {
        ...mapActions({
            deleteItem: 'cart/deleteItemFromCart'
        })
    }
}
</script>

<style scoped lang="scss">

.cart-item {
    display: flex;

    &__total {
        display: inline-block;
        width: 100px;
        text-align: right;
        margin-left: 20px;
    }

    &__cross {
        display: inline-block;
        margin-left: 10px;
    }
}
</style>
